### Question 2: Are stewards (steward activity measured by the ‘steward’ variable) having an impact on the health of trees?

In [1]:
import pandas as pd 
import numpy as np
import datetime
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.graph_objs as go

In [2]:
url = 'https://data.cityofnewyork.us/resource/nwxe-4ae8.json'
trees = pd.read_json(url)
trees.steward.unique()

array(['None', '1or2', '3or4', nan, '4orMore'], dtype=object)

In [3]:
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=steward=\'None\'' +\
        '&$group=health').replace(' ', '%20')
soql_url_none = pd.read_json(soql_url)
soql_url_none.dropna()

  health  count_tree_id
0   Fair          71572
1   Good         396511
2   Poor          19739

In [4]:
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=steward=\'1or2\'' +\
        '&$group=health').replace(' ', '%20')
soql_url_1or2 = pd.read_json(soql_url)
soql_url_1or2.dropna()

  health  count_tree_id
0   Good         115372
1   Fair          21902
2   Poor           6283

In [5]:
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=steward=\'3or4\'' +\
        '&$group=health').replace(' ', '%20')
soql_url_3or4 = pd.read_json(soql_url)
soql_url_3or4.dropna()

  health  count_tree_id
0   Good          15606
1   Poor            747
2   Fair           2830

In [6]:
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=steward=\'4orMore\'' +\
        '&$group=health').replace(' ', '%20')
soql_url_4orMore = pd.read_json(soql_url)
soql_url_4orMore.dropna()

  health  count_tree_id
0   Good           1361
1   Fair            200
2   Poor             49

In [ ]:
app = dash.Dash()

colors = {'background':'D3D3D3', 'text':'#000000'}

app.layout = html.Div(children=[

    dcc.Graph(id='Graph',
             figure={
            'data': [
                {'x': soql_url_none['health'], 'y':soql_url_none['count_tree_id'], 'type': 'bar', 'name': u'None'},
                {'x': soql_url_1or2['health'], 'y':soql_url_1or2['count_tree_id'], 'type': 'bar', 'name': u'1 or 2'},
                {'x': soql_url_3or4['health'], 'y':soql_url_3or4['count_tree_id'], 'type': 'bar', 'name': u'3 or 4'},
                {'x': soql_url_4orMore['health'], 'y':soql_url_4orMore['count_tree_id'], 'type': 'bar', 'name': u'4 or more'}
            ],
            'layout': {
                'title': 'NYC Tree Health Condition by Steward activity',
                'plot_bgcolor':colors['background'],
                'paper_bgcolor':colors['background'],
                'font':{'color':colors['text']}
                
            }
        }
    )
])


if __name__ == '__main__':
    app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [28/Oct/2019 23:25:12] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 23:25:12] "GET /_dash-component-suites/dash_core_components/highlight.pack.js?v=1.3.1&m=1572224843 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 23:25:12] "GET /_dash-component-suites/dash_renderer/react-dom@16.8.6.min.js?v=1.1.2&m=1572224843 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 23:25:12] "GET /_dash-component-suites/dash_html_components/dash_html_components.min.js?v=1.0.1&m=1572224844 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 23:25:12] "GET /_dash-component-suites/dash_renderer/prop-types@15.7.2.min.js?v=1.1.2&m=1572224843 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 23:25:12] "GET /_dash-component-suites/dash_renderer/react@16.8.6.min.js?v=1.1.2&m=1572224843 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 23:25:12] "GET /_dash-component-suites/dash_renderer/dash_renderer.min.js?v=1.1.2&m=1572224843 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 23:25:12] "GET /_dash-component-suites/dash_core_components/dash_core_components.min.js?v=1.3.1&m=1572224843 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 23:25:13] "GET /_dash-component-suites/dash_core_components/plotly-1.50.1.min.js?v=1.3.1&m=1572224843 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 23:25:13] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2019 23:25:13] "GET /_dash-layout HTTP/1.1" 200 -

##### Conclusion: Based on the graph it doesn't look like stewardship plays a large role as many of the good health trees have no stewards.